.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    background-color: white;
    border-radius: 10px;
    max-width: 70vw;
    padding: 20px;
    box-shadow: 0 0 15px 7px rgba(197, 203, 208, 0.3);
}

.closeButton {
    position: absolute;
    top: -1.2rem;
    right: -1.2rem;
    padding: 0;
    border: none;
    background: none;
    color: white;
    font-size: 1.5rem;
}

.closeButton:hover {
    cursor: pointer;
    font-weight: bold;
}