<app-header
    [applicationConfig]="applicationConfig"
    (menuClick)="sidenav.toggleSidenavOpened()"
></app-header>
<app-popup-host #appPopup (closePopup)="appPopup.popupTemplate = null"></app-popup-host>
<app-sidenav #sidenav>
    <ng-template #navigationTemplate let-default="$implicit" let-userName="name">
        {{ default }}
        {{ applicationConfig.title }}
        {{ userName }}
        <mat-list role="list">
            <mat-list-item
                role="listitem"
                class="menu-item"
                (click)="appPopup.popupTemplate = popup1"
            >
                Item 1
            </mat-list-item>
            <mat-list-item
                role="listitem"
                class="menu-item"
                (click)="appPopup.popupTemplate = popup2"
            >
                Item 2
            </mat-list-item>
            <mat-list-item
                role="listitem"
                class="menu-item"
                (click)="appPopup.popupTemplate = popup3"
            >
                Item 3
            </mat-list-item>
        </mat-list>
    </ng-template>
</app-sidenav>

<ng-template #popup1>
    <h2>-= 1 Title 1 =-</h2>
    <p>1111111111111111111111 CONTENT 1111111111111111111111</p>
</ng-template>

<ng-template #popup2>
    <h2>-= 2 Title 2 =-</h2>
    <p>2222222222222222222222 CONTENT 2222222222222222222222</p>
</ng-template>

<ng-template #popup3>
    <h2>-= 3 Title 3 =-</h2>
    <p>3333333333333333333333 CONTENT 3333333333333333333333</p>
</ng-template>
